@use '../../shared/theme' as theme;

:host {
  display: block;
  height: 100%;
}

.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background: theme.$aq-color-background;
}

.layout__sidebar {
  flex-shrink: 0;
  height: 100%;
  overflow: hidden;
}

.layout__content {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  height: 100%;
  overflow: hidden;
}

.layout__main {
  flex: 1;
  overflow-y: auto;
  padding: theme.$aq-space-xl theme.$aq-space-xl theme.$aq-space-md;
}
