<button
  #trigger
  class="input-select__trigger"
  type="button"
  role="combobox"
  [attr.aria-expanded]="isOpen()"
  aria-haspopup="listbox"
  [attr.aria-controls]="listboxId"
  [attr.aria-disabled]="disabled() ? true : null"
  [attr.aria-activedescendant]="
    isOpen() && focusedIndex() >= 0 ? 'is-opt-' + options()[focusedIndex()]?.id : null
  "
  [disabled]="disabled() || null"
  (click)="toggleDropdown()"
>
  @if (selectedOption()?.icon) {
    <span class="input-select__trigger-icon material-icons" aria-hidden="true">{{
      selectedOption()!.icon
    }}</span>
  }

  <span
    class="input-select__trigger-title"
    [class.input-select__trigger-title--placeholder]="!selectedOption()"
  >
    {{ selectedOption()?.title ?? placeholder() }}
  </span>

  <span class="input-select__trigger-arrow material-icons" aria-hidden="true">expand_more</span>
</button>

<ng-template #dropdownTemplate>
  <div
    [id]="listboxId"
    class="input-select__dropdown"
    role="listbox"
    [attr.aria-label]="placeholder()"
  >
    @if (loading()) {
      <div class="input-select__loading">
        <span class="material-icons input-select__loading-icon" aria-hidden="true"
          >hourglass_top</span
        >
      </div>
    } @else if (options().length === 0) {
      <div class="input-select__empty">
        <span class="material-icons input-select__empty-icon" aria-hidden="true">inbox</span>
        <span>Nenhuma opção disponível</span>
      </div>
    } @else {
      <ul class="input-select__list" role="presentation">
        @for (option of options(); track option.id; let i = $index) {
          <li
            class="input-select__option"
            [class.input-select__option--selected]="isSelected(option)"
            [class.input-select__option--disabled]="option.disabled"
            [class.input-select__option--focused]="focusedIndex() === i"
            role="option"
            tabindex="-1"
            [attr.aria-selected]="isSelected(option)"
            [attr.aria-disabled]="option.disabled ? true : null"
            [id]="'is-opt-' + option.id"
            (click)="selectOption(option)"
            (keydown.enter)="selectOption(option)"
            (mouseenter)="focusedIndex.set(i)"
          >
            @if (option.icon) {
              <span class="input-select__option-icon material-icons" aria-hidden="true">{{
                option.icon
              }}</span>
            }

            <div class="input-select__option-content">
              <span class="input-select__option-title">{{ option.title }}</span>
              @if (option.subtitle) {
                <span class="input-select__option-subtitle">{{ option.subtitle }}</span>
              }
            </div>

            <span class="input-select__option-check material-icons" aria-hidden="true">check</span>
          </li>
        }
      </ul>
    }
  </div>
</ng-template>
