@use 'app/shared/theme/reset';
@use 'app/shared/theme/root';
@use 'app/shared/theme' as theme;

body {
  min-height: 100vh;
  font-family: theme.$aq-font-family-base;
  background-color: theme.$aq-color-background;
  color: theme.$aq-color-text-primary;
}

.modal-panel {
  max-width: 100vw !important;
}

.modal-backdrop {
  background:
    radial-gradient(circle at top, rgb(35 192 232 / 12%), transparent 30%), rgb(18 63 97 / 52%);
  backdrop-filter: blur(3px);
}
