@use 'app/shared/theme/reset';
@use 'app/shared/theme/root';
@use 'app/shared/theme' as theme;

body {
  min-height: 100vh;
  font-family: theme.$aq-font-family-base;
  background-color: theme.$aq-color-background;
  color: theme.$aq-color-text-primary;
}
